/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 0rem;
}

.footer {
    bottom: 0;
    left: 0;
    height: 2em;
    position: relative; 
    width:100%;
}
.section-header {
    left: 10px;
    bottom: 6px;
    font-size: 18px;
    font-weight: bold;
}


html { 
         background: linear-gradient(
         rgba(0, 0, 0, 0.3),
         rgba(0, 0, 0, 0.3)
         ),url(img/full-bg.jpg) no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         }

#top-dua {
    background-color: transparent;
    background-size:cover;
    text-align: center;
    text-shadow: 0 0px 0 black;
    margin-bottom:3rem; 
    margin-top:2rem
}

#hadith-div {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}


